::selection {
  background-color: rgb(66, 66, 66);
  color: peru;
}

#github_wrapper {
  &::after {
    content: '';
    position: absolute;
    width: 100px;
    background-color: #232323;
    height: 3px;
    border-radius: 5px;
    top: 50%;
    left: 40%;
    user-select: none !important;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    background-color: #232323;
    height: 3px;
    border-radius: 5px;
    top: 50%;
    right: 40%;
    margin-left: 5px;
    user-select: none !important;
  }
}

main {
  height: 400px;
  overflow-y: auto;
  background-color: #747474;
  .user {
    background-color: #353535;
    margin: 5px;
  }
  figure {
    background-color: #232323;
    width: 15%;
  }
  .user_info {
    flex-grow: 2;
    p:first-child {
      font-size: 25px;
    }
    p:last-child {
      font-size: 14px;
    }
  }
}
